<html class="index-background">
<div id="form" class="index">
  <h1>Signup</h1>
  <form class="login-form" action="/signup" method="POST">
 
    <label> Username </label>
      <input class="login-form-input" type="text" name="username" placeholder="ironhacker" />
    

    <label> Password    </label>
      <input class="login-form-input" type="password" name="password" placeholder="********" />
 
 
    <button class="login-form-button" type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>
</html>