<html class="index-background">

  <div class="index1">

    <h2>Signup</h2>
    <form  action="/signup" method="POST"></form>
      <label> Username </label>
      <p>
        <input class="imput-tag" type="text" name="username" placeholder="ironhacker" />
      </p>

      <label> Password    </label>
      <p>
        <input class="imput-tag" type="password" name="password" placeholder="********" />
      </p>
      
      <button class="save-changes" type="submit">Create account</button>
      
    
    </form>
  </div>
</html>