body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.topnav {
  background-color: rgb(171, 207, 150);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logout {
  color: #f2f2f2;
  width: 30px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background: none;
  padding-top: 14px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
  padding: 10px;

}

ul {
  padding: 25px;
}

img {
  width: 200px;
}

<<<<<<< HEAD
=======
.plant-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.plant {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

>>>>>>> 75fe543f7a65f639da3788d9de4f77f69dbbbaed
/*
.button {
  display: block;
  background-color: #c0392b;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span, .button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
  content: '';
  background-color: #a53125;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.button .icon .fa-remove {
  height: 36px;
}
.button .icon .fa-check {
  display: none;
}
.button.success span, .button:hover span {
  left: -72%;
  opacity: 0;
}
.button.success .icon, .button:hover .icon {
  width: 100%;
}
.button.success .icon .fa, .button:hover .icon .fa {
  font-size: 45px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .fa-remove {
  display: none;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: 0.9;
}
.button:hover .icon .fa-remove {
  height: 46px;
}
.button:active {
  opacity: 1;
}
*/
<<<<<<< HEAD
.plant-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.plant {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
=======
>>>>>>> 75fe543f7a65f639da3788d9de4f77f69dbbbaed

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  background-color: rgba(51, 133, 69, 0.671);
  text-decoration: none;
  color: white;
  margin: 40px;
  width: 300px;
  height: 100px;
}
<<<<<<< HEAD
=======

>>>>>>> 75fe543f7a65f639da3788d9de4f77f69dbbbaed
