* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}

.topnav {
  background-color: rgb(171, 207, 150);
  overflow: hidden;
  border-radius: 15px;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logout {
  color: #f2f2f2;
  width: 30px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  background: none;
  padding-top: 14px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.login-form-input {
  margin-bottom: 10px;
}

.login-form-button {
  margin-bottom: 10px;
  background-color: none;
}

li {
  list-style: none;
  font-size: medium;
  text-align: left;
  padding-bottom: 15px;
  
}


ul {
  padding-left: 10px;
  padding-right: 10px;
}

p {
  color: grey;
}

img {
  width: 200px;
}

.plant-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.plant {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.button {
width: 100px;
border: rgb(171, 207, 150);
color: white; /* Text color */
background-color: rgb(171, 207, 150); /* Remove background color */
border-radius: 5px; /* Adds curve to border corners */
text-transform: uppercase;
}

.plant-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.plant-box {
  width: 200px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: rgba(171, 207, 150, 0.315);
  margin: 20px;
  border-radius: 15px;
  position: relative
}


.plant-image{
  width: 200px;
  height: 250px;
  border-radius: 15px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}


.index {
  width: 400px ;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.65);
}

.index-background { 
  background: url(https://res.cloudinary.com/dhbny7rpk/image/upload/v1645026752/chris-abney-qLW70Aoo8BE-unsplash_sujaun.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.index-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  background-color: rgba(51, 133, 69, 0.774);
  text-decoration: none;
  color: white;
  margin: 40px;
  width: 300px;
  height: 100px;
}
.plant-editor-back{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  width: 800px;
}

.image-edit-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-edit{
  display:flex;
  border-radius: 15px;
  margin: 20px;
}

.content-editor{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-list{
  display: flex;
  margin:20px;
}
.edit-key{
  padding-bottom: 20px;
}

.save-button {
  width: 200px;
  border: rgb(171, 207, 150);
  color: white; /* Text color */
  background-color: rgb(171, 207, 150); /* Remove background color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase;
  font-size: medium;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}


.save-button a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
.delete-button{
  width: 200px;
  border: rgb(171, 207, 150);
  color: white; /* Text color */
  background-color: rgb(171, 207, 150); /* Remove background color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase;
  font-size: medium;
  margin-top: 10px;
  position: absolute;
  bottom: 40px;
}


.titles-edit{
  display: flex;
  justify-content: flex-end;
}

.search-bar{
  margin-top: 20px;
  margin-left: 18px;
}

.save-changes{
  width: 200px;
  border: rgb(171, 207, 150);
  color: white; /* Text color */
  background-color: rgb(171, 207, 150); /* Remove background color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase;
  font-size: medium;
  margin-top: 10px;
  bottom: 10px;
}

.imput-tag{
  width: 150px;
  border-radius: 15px;
  border-color: rgb(171, 207, 150);
  color: white;
}
.imput-tag, textarea{background-color: rgba(171, 207, 150, 0.425); }

table{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
*/
td {
  width: 4rem;
  height: 2rem;
  text-align: left;
  color: #ddd;
}
th{
  width: 4rem;
  height: 2rem;
  text-align: right;
}
